.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

.wrapper.pc {
    flex-wrap: wrap;
}

.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.icon.pc {
    margin: 0 75px 0 0;
}